#home{
    padding: 30px;
}
#feature_two{
    margin-top: 30px;
    padding: 30px;

}
#pricing_one{
    margin-top: 30px;
    padding: 30px;
}
#pricing_two{
    margin-top: 30px;
    padding: 30px;
}
#pricing_three{
    margin-top: 30px;
    padding: 30px;
}
#about_one{
    margin-top: 30px;
    padding: 30px;
}
#about_two{
    margin-top: 30px;
    padding: 30px;
}
#contact{
    margin-top: 30px;
    padding: 30px;
}

