#header{
    margin-bottom: 50px;
    padding-bottom: 30px;
}
#home{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#feature_two{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}
#feature_three{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;

}
#pricing_one{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}
#pricing_two{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#pricing_three{
    margin-top: 30px;
    padding-top: 30px;

}
#about_one{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#about_two{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#contact{
    margin-top: 30px;
    padding-top: 30px;
}
.button_size{
    width:150px;
    height:50px;
    font-size: 10px;
}
.font_hover:hover{
    color:rgb(100, 100, 241);
}
.font_family{
    font-family:Nunito,sans-serif;
}

.link_color{
    text-decoration: none;
}

.textsize{
    font-size: 50px;
    font-weight: 800;
    line-height: 100%;
    font-family: "Nunito", sans-serif;
    color: #000000;

}
.textsize_sm{
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    font-family: "Nunito", sans-serif;
    color: #000000;

}
.card_hover:hover{
    background-color: white;
}
.highlight{
    display: inline;
    background: rgba(64, 123, 255, 0.07);
}
.card_text{
    font-family: 'Nunito';
    font-weight: 500;
}
.card1:hover{
  transform: scale(1);
  box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  margin-bottom: 20px;
  margin-top: -20px;
}
body {
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}